<ion-header>
  <ion-navbar color="primary">
    <div class="profile-img">
      <img class="user-img" src="../assets/imgs/nancy.jpg" alt=""/>
    </div>
    <button ion-button menuToggle>
      <ion-icon name="ios-menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="logo-buffer"> Loop</ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <div class="project-top-menu">
        <span class="project-label">
          Projekt
        </span>
        <button class="button-add" (click)="presentProjectAddModal()" color="primary" ion-button>
          <ion-icon name="md-add"></ion-icon>
        </button>
        <ion-select class="project-sort" [(ngModel)]="projectSort" interface="popover" (ionChange)="sort()">
            <ion-option value="prjName">Project name</ion-option>
            <ion-option value="percent">Percentage</ion-option>
        </ion-select>
      </div><br/>

    <ion-list *ngFor="let project of projects">
        <div [class]="project.cssClass">
            <img class="background-building" [src]="project.src" alt="" />
            <span class="project-name">{{project.name}}</span>
            <span class="svg-container">
                <img src="../assets/svg/hex.svg" alt=""/>
            </span>
            <span class="project-percentage">{{project.percent}}</span>
            <ion-badge class="project-badge" *ngIf="project.badge" color="badge">{{project.badgeValue}}</ion-badge>
        </div>
    </ion-list>
</ion-content>
