<!--
  Generated template for the CreateUserModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Create User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="addUserForm" (ngSubmit)="addUser(addUserForm.value)">

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input formControlName="firstName" type="text" [class.invalid]="!addUserForm.controls.firstName.valid && (addUserForm.controls.firstName.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item *ngIf="!addUserForm.controls.firstName.valid  && (addUserForm.controls.firstName.dirty || submitAttempt)">
      <p>Please enter a valid first name.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" [class.invalid]="!addUserForm.controls.lastName.valid && (addUserForm.controls.lastName.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item *ngIf="!addUserForm.controls.lastName.valid  && (addUserForm.controls.lastName.dirty || submitAttempt)">
      <p>Please enter a valid last name.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Company</ion-label>
      <ion-input formControlName="company" type="text" [class.invalid]="!addUserForm.controls.company.valid && (addUserForm.controls.company.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item *ngIf="!addUserForm.controls.company.valid  && (addUserForm.controls.company.dirty || submitAttempt)">
      <p>Please enter a valid Company.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Role</ion-label>
      <ion-input formControlName="role" type="text" [class.invalid]="!addUserForm.controls.role.valid && (addUserForm.controls.role.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item *ngIf="!addUserForm.controls.role.valid  && (addUserForm.controls.role.dirty || submitAttempt)">
      <p>Please enter a valid role.</p>
    </ion-item>
    <button ion-button full color="primary" type="submit">Create User</button>

  </form>

</ion-content>
