<div class="fluid-container projects-page" [@routerTransition]>
  <div class="fluid-container projects-list-container">
    <div class="row">
      <div class="col-xl-12 text-xs-center">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-6 text-xs-center">
                <div class="card mb-3">
                  <div class="card-bodys" id="proj-item" [ngStyle]="{ 'background': '    linear-gradient(
                            rgba(173, 173, 173, 0.45),
                            rgba(30, 128, 197, 0.45)
                          ), url('+ project?.image +') top / cover no-repeat' }" [routerLink]="['/projects/project-details', i]"
                    [routerLinkActive]="['router-link-active']">
                    <div class="hex">
                      <span class="project-percentage">
                        {{totalhourpercentage}}
                      </span>
                    </div>
                    <span class="project-name">
                      {{ project.projectName }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 text-xs-center">
                <div class="card mb-3">
                  <div class="card-body" style="overflow-x:auto;">
                    <p style="text-align: center">Burndown Chart for {{project.projectName}} Project</p>
                    <canvas id="myChart" width="400" height="200">charts</canvas>
                    <button type="button" class="fullscreen btn-sm btn-primary" [routerLink]="['/projects/chart', projectID]" [routerLinkActive]="['router-link-active']">Fullscreen</button>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 text-xs-center">
                <div class="card mb-3">
                  <div class="card-body" style="text-align:center;">
                    <b>Project Details</b>
                    <div class="col-xl-12 text-xs-center">
                      <div class="card mb-3">
                        <div class="card-body" id="project-details" style="text-align:left;">
                          Project Name: {{project.projectName}}
                          <br> Estimated Hours: {{project.hourEstimate}} hrs
                          <br> Total Hours Logged: {{projectstatus}} hrs
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 text-xs-center">
                <div class="card mb-3">
                  <div class="card-body">
                    <p style="text-align: center">Total Hours logged per Area</p>
                    <canvas id="AreaChart" width="400" height="200">charts</canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 text-xs-center">
              <div class="card mb-3">
                <div class="card-body" style="text-align:center;">
                  <div style="overflow-x:auto;">
                    <table class="card-body table table-hover" width="100%">
                      <tbody>
                        <tr>
                          <td colspan="5" style="text-align:center;">
                            <b>Tasks</b>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i>Area</i>
                          </td>
                          <td>
                            <i>Task</i>
                          </td>
                          <td>
                            <i>Due Date</i>
                          </td>
                          <td>
                            <i>Executor</i>
                          </td>
                        </tr>
                        <tr *ngFor="let row of specificTask; let i = index; ">
                          <td class="taskcol">
                            <b>{{row.areaName}}</b>
                          </td>
                          <td class="taskcol">
                            <b>{{row.task}}</b>
                          </td>
                          <td class="taskcol">17.01.22</td>
                          <td>
                            <b>{{row.asignee}}</b>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button type="button" class="btn btn-sm btn-primary" (click)="openCreateTaskModal()">Add Task</button>
                  <button type="button" class="btn btn-sm btn-primary">Log Hour</button>
                </div>
              </div>
            </div>
            <div class="col-xl-6 text-xs-center">
              <div class="card mb-3">
                <div class="card-body" style="text-align:center;">
                  <b>Resources Used</b>
                  <div class="card-body table-responsive">
                    <table class="card-body table table-hover" width="100%">
                      <thead>
                        <tr>
                          <th class="text-center">Material Name</th>
                          <th class="text-center">Amount Consumed</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of materialsPerProject; let i = index; ">
                          <td class="text-center">
                            {{row.materialName}}
                          </td>
                          <td class="text-center">
                            {{row.materialsUsed}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button type="button" class="btn btn-sm btn-primary">Log Material</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>