@font-face {
    font-family: "meganJune";
    src: url("../assets/fonts/megan_june.otf");
}

page-project-add {

    ion-navbar {
        height: 60px;

        .toolbar-title-ios {
            font-size: 18px;
            font-weight: 400;
        }

        .ion-button-add {
            font-weight: 500;
        }
    }

    .material-section {
        position: relative;

        button {
            width: 12vw;
            height: 12vw;
            color: color($colors, light, base);
            background-color: color($colors, primary, base);
            border-radius: 0px;
        }

        .material-title {
            position: absolute;
            font-size: 20px;
            top: 4vw;
            color: color($colors, dark, base);
        }
    }

    ion-label {
        color: color($colors, primary, base);
    }

    .item-ios {
        padding-left: 0px;
    }

}