<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="row">
    <div class="col-xl-6 text-xs-center">
      <div class="card mb-3">
        <div class="card-body">
          <h4 style='float: left; color:gray; '>
            <h2><i>Projekt</i></h2>
          </h4>
          <div id="combo1">
              
            <select id="mySelect" (change)="onViewClick()">
              <option value="grid" selected>Visa som rutnat</option>
              <option value="list">Visa som lista</option>
              <option value="listfull">Visa som fasschema</option>
            </select>
            &nbsp;
            <select>
              <option value="volvo" [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']">Inkludera prospekt</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 text-xs-center">
      <div class="card mb-3">
        <div class="card-body">
          <h4 style='float: left; color:gray;'>
            <h2><i>Uppgifter</i></h2>
          </h4>
          <div class="container">
            
            <div id="combo2">
                
              <select style='background-color:rgb(160, 159, 159); color: white; height:3.5rem' id="mySelect" (change)="onViewClick()">
                <option value="grid" selected>Visa även avslutade</option>
                <option value="list">Visa som lista</option>
                <option value="listfull">Visa som fasschema</option>
              </select>
              &nbsp;
              <select style='background-color:rgb(160, 159, 159); color: white; height:3.5rem'>
                <option value="volvo" [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']">Sortera efter förfallodatum</option>
              </select>
              <!-- <button type="button" class="btn" (click)="onBtnClick()">+</button>  -->
              <button type="button" class="btn" (click)="showModal()">+</button>
              <button type="button" class="btnadd" (click)="showModalProject()">Add Project</button>
              <!-- Modal -->
              <div class="modal" id="myModal" role="dialog" [ngStyle]="{'display':modalDisplay}">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <!-- <div class="modal-header">
                                <h2>Lägg till uppgift</h2>
                                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                               
                            </div> -->
                    <form #formtask="ngForm" (ngSubmit)="saveTask(formtask.value)" novalidate>
                      <div class="modal-body">
                        <table class="table table-hover" class="table table-bordered" style="margin-bottom: 0;">
                          <thead>
                            <tr>
                              <th colspan="8" rowspan="6" class="text-left">
                                <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                                <h2>Lägg till uppgift</h2>
                              </th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr>
                              <!-- Employee Name -->
                              <td class="text-center">
                                Rubrik:
                                <span style="color: red">*</span>
                              </td>
                              <td colspan="6">
                                <input type="text" id="fname" name="task" [(ngModel)]="task">
                              </td>
                              <td>
                                <select name="projectName" id="projectNameList" class="form-control" [(ngModel)]="projectName">
                                  <option *ngFor="let project of projects; let i = index" [value]="project.projectName" >
                                    {{project.projectName}}
                                  </option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <!-- Employee Name -->
                              <td class="text-center">
                                Beskrivning:
                                <span style="color: red">*</span>
                              </td>
                              <td colspan="7">
                                <textarea rows="10" cols="20" id="reason" class="form-control select-textarea" name="Reason" [(ngModel)]="reason"></textarea>
                              </td>
                            </tr>
                            <tr>
                              <!-- Employee Name -->
                              <td class="text-center" colspan="2">
                                Projekt:
                              </td>
                              <td class="text-center" colspan="2">
                                Typ:
                              </td>
                              <td class="text-center" colspan="3">
                                Utförare:
                              </td>
                              <td class="text-center" colspan="2">
                                Förfallodatum:
                              </td>

                            </tr>
                            <tr>
                              <!-- Employee Name -->
                              <td class="text-center" colspan="2">
                                <select>
                                  <option>

                                  </option>
                                </select>
                              </td>
                              <td class="text-center" colspan="2">
                                <select>
                                  <option>

                                  </option>
                                </select>
                              </td>
                              <td class="text-center" colspan="3">
                                <select name="asignee" id="asignee" class="form-control" [(ngModel)]="asignee">
                                  <option *ngFor="let task of tasks; let i = index" [value]="task.asignee">
                                  {{task.asignee}}
                                  </option>
                                </select>
                              </td>
                              <td class="text-center" colspan="2">
                                <select>
                                  <option>

                                  </option>
                                </select>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="cancelbtn" data-dismiss="modal" (click)="closeModal()">Avbryt</button>
                        <button type="submit" class="btn btn-default" id="acceptbtn"  data-dismiss="modal" (click)="closeModal()">Spara</button>
                       
                      </div>
                    </form>
                  </div>
                </div>
              </div>


<!-- Add Project -->
<!-- Modal -->
<div class="modal" id="myModalAdd" role="dialog" [ngStyle]="{'display':modalDisplayAddProject}">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
                    <h2>Lägg till uppgift</h2>
                    <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                   
                </div> -->
        <form #form="ngForm" (ngSubmit)="saveProject(form.value)" novalidate>
          <div class="modal-body">
            <table class="table table-hover" class="table table-bordered" style="margin-bottom: 0;">
              <thead>
                <tr>
                  <th colspan="8" rowspan="6" class="text-left">
                    <button type="button" class="close" data-dismiss="modal" (click)="closeModalProject()">&times;</button>
                    <h2>Add Project</h2>
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <!-- Employee Name -->
                  <td class="text-center" style="padding-top:3rem">
                    Project Name:
                    <span style="color: red">*</span>
                  </td>
                  <td colspan="5">
                    <input type="text" id="fname" name="projectName" [(ngModel)]="projectName">
                    <input type="hidden" id="profPic" name="profPic" [(ngModel)]="profPic" >
                  </td>                  
                </tr>                
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default" data-dismiss="modal" (click)="closeModalProject()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>






            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>