<div class="modal-header">
  <h4 class="modal-title">New User</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form role="form" [formGroup]="formModal" [hidden]="success" (ngSubmit)="onSubmit()">
    <fieldset class="form-group">
        <label>First Name</label>
        <input class="form-control" placeholder="Enter text" formControlName="firstName">
    </fieldset>

    <fieldset class="form-group">
        <label>Last Name</label>
        <input class="form-control" placeholder="Enter text" formControlName="lastName">
    </fieldset>

    <fieldset class="form-group">
        <label>Address</label>
        <input class="form-control" placeholder="Enter text" formControlName="address">
    </fieldset>

    <div class="form-group">
        <label>Role</label>
        <select class="form-control" formControlName="role">
            <option>Role 1</option>
            <option>Role 2</option>
            <option>Role 3</option>
        </select>
    </div>

    <fieldset class="form-group">
        <label for="exampleInputFile">Upload photo</label>
        <input type="file" class="form-control-file" id="exampleInputFile">
    </fieldset>

    <button type="submit" class="btn btn-secondary" [disabled]="formModal.invalid">Submit Button</button>

</form>
</div>