.cardtop {

    border:0 ! important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) ! important;
    
}
.image {
    opacity: 1;
    cursor: pointer;
    transition: .5s ease;
    backface-visibility: hidden;
  }
 .image:hover {
    opacity: 0.3;
  }

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:none;
    border-radius: 0.25rem;
}
#samplepic 
{
        max-width: 100%;  
  
}
.progress
{
   margin-left: 1rem ! important;
   
    
}
.dashboard-container
{
    
    padding-top:100px;
}
.progress-bar-danger
{
    background-color: grey;
}

.card-body-head {
    flex: 1 1 auto;
    //padding: 1.25rem;
    border-bottom: 1px solid gray;
    border-top: 0;
    
    
}

#profile
{
    height:30px; 
    width:150px; 
    background-color:gray; 
    color:white;
    text-align: center;

}
.col-xl-6 text-xs-center
{
    padding-right:0 ! important; 
   
}
#combo1
{
    float: right;
}
#header
{
border:1px solid black;

}
.btn
{
  height:35px !important;
  width: 40px !important;
  background-color:  #009999;
  color:white;
  margin-left:5px;
}
.btn2
{
  height:35px !important;
  width: 40px !important;
  background-color:  gray;
  color:white;
  margin-left:5px;
}
#hashtag
{
    background-color: gray;
}




.col-xl-6 text-xs-center
{
    border-right: 1px solid gray ! important;
  

   
}

.text-xs-center-left
{
    border-left: 1px solid gray ! important;
    -webkit-box-shadow: -7px 0 5px -5px #888;
  //  box-shadow: 0px 0px 20px black; 
}

.col-xl-6 text-xs-center-right
{
    border:1px solid red;
    
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
line-height: 2;

}
#combo2
{
    float: right;
    font-size: 1.5rem;
}

.table th
{
 
    border-top:0px;
 

}
.table td
{

 border-top:1px solid silver;
 border-right:1px solid silver;
 border-bottom:1px solid silver;

}