<div [@routerTransition]>
    <div class="dashboard-container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
            <div class="col-xl-6 text-xs-center-right">
                <div class="card mb-33">
                    <div class="card-body">
                        <div class="col-xl-12 text-xs-center">
                            <div class="card mb-33">
                            </div>
                            <div class="row">
                                <div class="col-xl-12 text-xs-center">
                                    <div class="card mb-3">
                                        <div class="card-bodys">
                                            <span *ngFor="let row2 of photo; let i = index " style="margin-left:1rem;">
                                                <img src="{{row2.profPic}}" (click)="requirementsClick(i)" class="image">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 text-xs-center-left">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="color:silver" *ngFor="let cell of Uppgifter">{{cell}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tasks; let i = index;">
                                        <td style="color:silver; text-decoration: underline;">{{row.companyName}}</td>
                                        <td>
                                            <b>{{row.task}}</b>
                                        </td>
                                        <td>
                                             <button class="btn btn-outline-primary mb-2 mr-2">+</button>
                                             <button class="btn btn-outline-primary mb-2 mr-2" id="hashtag">#</button>
                                        
                                        </td>
                                        <td>17.01.22</td>
                                        <td style="width:5rem;">
                                            <div id="profile" >{{row.asignee}}&nbsp;&nbsp;&nbsp;
                                                <img src="{{row.profPic}}" style="height:30px;width:30px; float:right">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xl-12 text-xs-center">
                            <div class="card mb-3">
                                <div class="card-body-head">
                                    <h3 style='float: left; color:gray;'>
                                        <i>Händelser</i>
                                    </h3>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="color:silver" *ngFor="let cell of Handelser">{{cell}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row2 of events">
                                                    <td style="color:silver">{{row2.companyName}}</td>
                                                    <td>
                                                        <b>{{row2.event}}</b>
                                                    </td>
                                                    <td>+-</td>
                                                    <td>17.01.22</td>
                                                    <td style="width:5rem;">
                                                        <div id="profile" >{{row2.asignee}}&nbsp;&nbsp;&nbsp;
                                                            <img src="{{row2.profPic}}" style="height:30px;width:30px; float:right">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>