<div [@routerTransition]>
    <div class="dashboard-container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
            <div class="col-xl-6 text-xs-center-right">
                <div class="card mb-33">
                    <div class="card-body">
                        <div class="col-xl-12 text-xs-center">
                            <div class="card mb-33">
                            </div>
                            <div class="row">
                                <div class="col-xl-12 text-xs-center">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>