<!--
  Generated template for the ProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Projects</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button class="change-view" (click)="switchView()">
          <ion-icon [name]="isListView ? 'apps' : 'reorder'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <loading *ngIf="isLoading"></loading>
  <div class="project-list-container" *ngIf="isListView">
    <div class="project-item" *ngFor="let project of projects" (click)="onProjectAreaView(project)">
      <div class="project-logo">
        <img [src]="defaultProjectImagePlaceholder" alt="">
      </div>
      <h3>
        {{ project.name }}
      </h3>
      <div class="project-completion">
        <span class="percentage" [ngStyle]="generateColor(project.completionPercentage)">
          {{ project.completionPercentage| number : '1.0-0'}} <sup>%</sup>
        </span>
        <span class="details">
          completion
        </span>
      </div>
    </div>
  </div>

  <div class="project-grid-container" *ngIf="!isListView">
    <ion-grid no-padding no-margin>
      <ion-row *ngFor="let project of projects" (click)="onProjectAreaView(project)">
        <ion-col>
            <ion-card class="ion-card">
              <ion-item>
                <ion-avatar item-start>
                  <img [src]="defaultProjectImagePlaceholder">
                </ion-avatar>
                <h2>{{project.name}}</h2>
              </ion-item>
              <ion-card-content no-padding>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <div class="grid-col-row">
                        <span>Hours logged</span>
                        <span class="unit-count">{{abbrNum(project.currentHoursLogged, 2)}}/{{abbrNum(project.totalEstimatedHours, 2)}}</span>
                      </div>
                      <progress-bar [progress]="project.hourCompletionPercentage" [color]="getColor(project.hourCompletionPercentage)"></progress-bar>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                        <div class="grid-col-row">
                          <span>Material logged</span>
                          <span class="unit-count">{{abbrNum(project.usedMaterials, 2)}}/{{abbrNum(project.totalEstimatedMaterial, 2)}}</span>
                        </div>
                        <progress-bar [progress]="project.usedMaterialPercentage" [color]="getColor(project.usedMaterialPercentage)"></progress-bar>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                        <div class="grid-col-row">
                          <span>Cost spent</span>
                          <span class="unit-count">{{abbrNum(project.totalSpent, 2)}}/{{abbrNum(project.costEstimate, 2)}}</span>
                        </div>
                        <progress-bar [progress]="project.costEstimateSpentPercentage" [color]="getColor(project.costEstimateSpentPercentage)"></progress-bar>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
