<div [@routerTransition]>

    
              
    <div class="dashboard-container">
        <div class="row">
            <div class="col-xl-6 text-xs-center-right">                           
                <div class="card mb-33">
                    <div class="card-body">
                    
                    <div class="col-xl-12 text-xs-center">                           
                            <div class="card mb-33">
                                <div class="card-body-head">    
                                        <h3 style='float: left; color:gray'><i>Projekt</i></h3>
                                        <div id="combo1">
                                   
                                    <select style='background-color:rgb(160, 159, 159); color: white; height:2rem' >
                                            <option value="volvo">Inkludera Prospekt</option>
                                            <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option>
                                    </select> 
                                &nbsp;
                                    <select  style='background-color:rgb(160, 159, 159); color: white; height:2rem' >
                                        <option value="volvo">Visa som rutnat</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                      </select>
                                    </div>
                               
                                </div>
                            </div>                   
                                                   
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-xl-6 text-xs-center-t" style="border:1px solid gray; border-top:none; border-left:none;">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 style='float: left; color:gray;'><i>Projekt</i ></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4  text-xs-center-head" style="border:1px solid gray; border-top:none; border-right:none;">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 style='float: left; color:gray;'><i>Progress</i ></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 text-xs-center-head" style="border:1px solid gray; border-top:none; border-left:none; border-right:none;">
                        <div class="card mb-3">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                   
                </div>  
                <div class="row">
                    <div class="col-xl-6 text-xs-center-head" style="border:1px solid gray; ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <img src="../../../../assets/images/samplepic1.jpg" style="height:100px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4  text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <div class="progress" style="background-color:white;">
                                            <img src="../../../../assets/images/icon.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:2px;" >
                                              
                                            </div>
                                
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:2px;" >
                                             
                                            </div>
                                          </div>
                                <div class="progress" style="background-color:white;">
                                    <img src="../../../../assets/images/circles.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:4px;" >
                                      
                                    </div>
                        
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:4px;" >
                                     
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                   
                </div>    
                <div class="row">
                    <div class="col-xl-6 text-xs-center-head" style="border:1px solid gray; ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <img src="../../../../assets/images/samplepic1.jpg" style="height:100px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4  text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <div class="progress" style="background-color:white;">
                                            <img src="../../../../assets/images/icon.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:2px;" >
                                              
                                            </div>
                                
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:2px;" >
                                             
                                            </div>
                                          </div>
                                <div class="progress" style="background-color:white;">
                                    <img src="../../../../assets/images/circles.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:4px;" >
                                      
                                    </div>
                        
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:4px;" >
                                     
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                   
                </div> 
                <div class="row">
                    <div class="col-xl-6 text-xs-center-head" style="border:1px solid gray; ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <img src="../../../../assets/images/samplepic4.jpg" style="height:100px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4  text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <div class="progress" style="background-color:white;">
                                            <img src="../../../../assets/images/icon.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:2px;" >
                                              
                                            </div>
                                
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:2px;" >
                                             
                                            </div>
                                          </div>
                                <div class="progress" style="background-color:white;">
                                    <img src="../../../../assets/images/circles.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:4px;" >
                                      
                                    </div>
                        
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:4px;" >
                                     
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                   
                </div> 
                <div class="row">
                    <div class="col-xl-6 text-xs-center-head" style="border:1px solid gray; ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <img src="../../../../assets/images/samplepic1.jpg" style="height:100px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4  text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <div class="progress" style="background-color:white;">
                                            <img src="../../../../assets/images/icon.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:2px;" >
                                              
                                            </div>
                                
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:2px;" >
                                             
                                            </div>
                                          </div>
                                <div class="progress" style="background-color:white;">
                                    <img src="../../../../assets/images/circles.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:4px;" >
                                      
                                    </div>
                        
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:4px;" >
                                     
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                   
                </div> 
                <div class="row">
                    <div class="col-xl-6 text-xs-center-head" style="border:1px solid gray; ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <img src="../../../../assets/images/samplepic3.jpg" style="height:100px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4  text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                
                                    <div class="progress" style="background-color:white;">
                                            <img src="../../../../assets/images/icon.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:2px;" >
                                              
                                            </div>
                                
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:2px;" >
                                             
                                            </div>
                                          </div>
                                <div class="progress" style="background-color:white;">
                                    <img src="../../../../assets/images/circles.png" height="10px"> &nbsp; <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; height: 3px; margin-top:4px;" >
                                      
                                    </div>
                        
                                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:71%; height: 3px; margin-top:4px;" >
                                     
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 text-xs-center-head" style="border:1px solid gray;">
                        <div class="card mb-3">
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                   
                </div>                   
            </div>
            <div class="col-xl-6 text-xs-center-left">                         
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="col-xl-12 text-xs-center">                           
                            <div class="card mb-33">
                                <div class="card-body-head">
                                <h3 style='float: left; color:gray;'><i>Uppgifter</i></h3>
                                </div>
                            </div>  
                            <div class="card mb-33">
                                    <div class="card-body">
                                        <div class="card-body table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    
                                                    <th>Projekt</th>
                                                    <th>Uppgift</th>
                                                    
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    
                                                    <td>Kopparhusen</td>
                                                    <td>Skicka bygglovsansökan</td>
                                                    <td>+-</td>
                                                    <td>17.01.22</td>
                                                    <td>PHOTO</td>
                                                </tr>
                                                <tr>
                                                   
                                                    <td>Struten</td>
                                                    <td>Publicera pressmeddelande</td>
                                                    <td>+-</td>
                                                    <td>17.01.22</td>
                                                    <td>PHOTO</td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Kyrkbacken</td>
                                                    <td>Stämma av bygglov med förvaltaren</td>
                                                    <td>+-</td>
                                                    <td>17.01.22</td>
                                                    <td>PHOTO</td>
                                                </tr>
                                                <tr>
                                                       
                                                        <td>Kyrkbacken</td>
                                                        <td>Säga upp tidigare VVS-avtal</td>
                                                        <td>+-</td>
                                                        <td>17.01.22</td>
                                                        <td>PHOTO</td>
                                                    </tr>
                                                    <tr>
                                                        
                                                        <td>Kyrkbacken</td>
                                                        <td>Rapportera timmar för projektering</td>
                                                        <td>+-</td>
                                                        <td>17.01.22</td>
                                                    <td>PHOTO</td>
                                                    </tr>
                                                    <tr>
                                                       
                                                        <td>Stadsrosen</td>
                                                        <td>Rapportera timmar för projektering</td>
                                                        <td>+-</td>
                                                        <td>17.01.22</td>
                                                        <td>PHOTO</td>
                                                    </tr>
                                                    <tr>
                                                       
                                                        <td>Stadsrosen</td>
                                                        <td>Rapportera timmar för projektering</td>
                                                        <td>+-</td>
                                                        <td>17.01.22</td>
                                                        <td>PHOTO</td>
                                                    </tr>
                                                    <tr>
                                                       
                                                        <td>Stadsrosen</td>                                                                                    
                                                        <td>Rapportera timmar för projektering</td>
                                                        <td>+-</td>
                                                        <td>17.01.22</td>
                                                        <td>PHOTO</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                            </div>
                        </div>
                </div>
                <div class="col-xl-12 text-xs-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                    <div class="card-body table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>Projekt</th>
                                                        <th>Uppgift</th>
                                                        
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        
                                                        <td>Kopparhusen</td>
                                                        <td>Skicka bygglovsansökan</td>
                                                        <td>+-</td>
                                                        <td>17.01.22</td>
                                                        <td>PHOTO</td>
                                                    </tr>
                                                    <tr>
                                                       
                                                        <td>Kopparhusen</td>
                                                        <td>Publicera pressmeddelande</td>
                                                        <td>+-</td>
                                                        <td>17.01.22</td>
                                                        <td>PHOTO</td>
                                                    </tr>
                                                    <tr>
                                                        
                                                        <td>Kopparhusen</td>
                                                        <td>Stämma av bygglov med förvaltaren</td>
                                                        <td>+-</td>
                                                        <td>17.01.22</td>
                                                        <td>PHOTO</td>
                                                    </tr>
                                                    <tr>
                                                           
                                                            <td>Kopparhusen</td>
                                                            <td>Säga upp tidigare VVS-avtal</td>
                                                            <td>+-</td>
                                                            <td>17.01.22</td>
                                                            <td>PHOTO</td>
                                                        </tr>
                                                        <tr>
                                                            
                                                            <td>Kopparhusen</td>
                                                            <td>Rapportera timmar för projektering</td>
                                                            <td>+-</td>
                                                            <td>17.01.22</td>
                                                        <td>PHOTO</td>
                                                        </tr>
                                                       
                                                    </tbody>
                                            </table>
                                        </div>
                                           
                                    </div>
                                </div>                                                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
    
    
    
    
    
    
    

